
.popup-box {
    position: relative;
    /* background: #00000050; */
    width: 250px;
    top: 0;
    right: 10%;
  }
   
  .box {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: auto;
    min-height: 25vh;
    margin-top: calc(100vh - 90vh - 30px);
    margin-left: calc(100vh - 88vh);
    background-color:rgb(1, 85, 153);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }

  li:hover{
    color: yellow;
  }
   
  @media only screen and (max-width: 600px) {
    .box{
      position: relative;
      width: 50%;
      margin: 0 auto;
      height: auto;
      margin-top: calc(100vh - 90vh - 30px);
      margin-left: calc(100vh - 82vh);
      background-color:rgb(1, 85, 153);
      border-radius: 4px;
      padding: 20px;
      border: 1px solid #999;
      overflow: auto;
    }
    .popup-box {
      position: relative;
      /* background: #00000050; */
      width: 250px;
      top: 0;
      right: 10%;
    }
    
}