img{
  object-fit: contain; 
  width: 100px;
  margin-left: 10px; 
  border-radius: 15px;
}
p{
    position: relative;
    margin-top: 40px;
    margin-right: 2%;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.header{
    color: #fff;
    display: flex;
    background-color:rgb(230, 219, 201);
    height: 15vh;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.header-title{
    justify-content: start;
}
.title{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:#fff;
}
.options{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
.choose{
    margin-right: 5px;
    font-size: 20px;
}